/* Modal Content/Box */

.cart-modal {
    position: fixed;
    top: -100px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 300;
}

.order-title {
    text-align: center;
    margin: 20px;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:center;
    width: 80%;
    margin: 5px;
    border-bottom: 1px gray solid;
    
}

.btn-borrar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.eliminar-item{

}

.subtotal{
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
}