/* Modal Content/Box */

.cart-modal {
    position: fixed;
    top: 50%;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 60%;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 300;
}

.exit-modal {
    font-weight: 600;
}

.exit-modal:hover {
    font-weight: 900;
}

.order-title {
    text-align: center;
    margin: 20px;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

li.product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    border-bottom: 1px gray solid;
}

.product-text {
    width: 90%
}

.btn-borrar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

.btn-erase{
    background-color: #fff;
    border: none;
    color:red;
    font-size: 32px;
}

.subtotal {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 20px;
}

.comentarios-text {
    width: 100%;
    margin: 20px;
}

.table-content {
    display: flex;
    justify-content: space-around;
}

.num-table {
    width: 50px;
    font-size: 1.2rem;
    text-align: center;
}

.btn-pago {
    width: 130px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    border: 2px solid #212529;
    color: #212529;
}

.btn-pago:hover {
    color: #fff;
}

.btn-pago:hover:after {
    width: 100%;
}

.btn-pago:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
}

.delete-icon {
    font-size: 32px;
    color: aqua;
    border: none
}